* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #000 url('../img/ipgg.png') no-repeat;
    background-size: cover;
    min-height: 100%;
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.formulario {
    background-color: rgb(238, 238, 238);
    width: 260px;
}

.botao {
    cursor: pointer;
}

.view-tarefa {
    background-color: black;
    width: 300px;
    height: 100px;
}
